<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
</head>
<body>

    
        <div id="app" class="container d-flex">

            <!-- sezione SX -->
            <section class="contenitor-sx ">

                <!-- sezione user -->
                <div class="user-box p-5 d-flex justify-between">
                    <div class="p-14 user-item d-flex align-center ">
                        <img class="avatar-img mr-5" :src="'img/avatar' + user.avatar + '.jpg'" alt="">
                        <h3 class="">{{user.name}}</h3>
                    </div>
                    <div class="header-icon p-14 d-flex align-center justify-end">
                        <i class="fas fa-circle-notch m-10 icone-grigio-chiaro"></i>
                        <i class="fas fa-comment-alt m-10 icone-grigio-chiaro"></i>
                        <i class="fas fa-ellipsis-v m-10 icone-grigio-chiaro"></i>
                    </div>
                </div>

                <!-- sezione notifiche -->
                <div class="notifiche p-10 d-flex align-center">
                    <div class="icon-notifiche ">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="ml-10 text-notifiche">
                        <h3 class="">Ricevi notifiche di nuovi messaggi</h3>
                        <p class="color-text-gray">Attiva notifiche desktop</p>
                    </div>             
                </div>

                <!-- sezione search -->
                <div class="search d-flex align-center">
                    <div class="icon-search pl-10 d-flex justify-end" >
                        <button class="border-none btn-colonna-sx"><i class="fas fa-search"></i></button>
                    </div>      
                    <div class="input-search pr-10">
                        <input type="search" placeholder="Cerca o inizia una nuova chat"  class="area-input">
                    </div>         
                </div>

                <!-- sezione contatti -->
                <div class="contatti-list" > 
                    <div class="contact-item d-flex p-15" v-for="(contact, index) in contacts" @click="setContactActive(index)">  
                        <img :src="'img/avatar' + contact.avatar + '.jpg'"  class="avatar-img mr-5">                    
                        <h4 class="ml-5">{{contact.name}}</h4>                 
                    </div>                       
                </div>
            </section>

            <!-- sezione DX -->
            <section class="contenitor-dx ">

                <!-- sezione header -->
                <div class="dati-chat-contatto d-flex justify-between">
                    <div class="p-14 user-item d-flex align-center ">
                        <div>
                            <img :src="'img/avatar' + contacts[contactActive].avatar + '.jpg'" class="avatar-img mr-5" :alt="contacts[contactActive].name">
                        </div>
                        <div id="user-container" class="ml-20">
                            <h3 class="">{{contacts[contactActive].name}}</h3>
                            <p class="color-text-gray">Ultimo accesso oggi alle</p>
                        </div>                    
                    </div>
                    <div class="header-icon p-14 align-center justify-end">
                        <i class="fas fa-search m-10 icone-grigio-chiaro"></i>
                        <i class="fas fa-paperclip m-10 icone-grigio-chiaro"></i>
                        <i class="fas fa-ellipsis-v m-10 icone-grigio-chiaro"></i>                 
                    </div>
                </div>

                <!-- sezione display chat -->
                <div class="area-messaggi-chat">                    
                    <div class="messagge" v-for="message in contacts[contactActive].messages" :class="message.status">
                        <span class="message.status">{{message.text}}</span>
                        <span class="orario-messaggio">{{message.data}}</span>                            
                    </div>                  
                </div>

                <!-- sezione tastiera -->
                <div class="tastiera-contenent  d-flex justify-between">
                    <div class="icon-tastiera p-10 d-flex flex-center">
                        <i class="far fa-smile icone-grigio-scuro"></i>
                    </div>
                    <div class="input-text-chat p-10">
                        <input type="text" placeholder="Scrivi un messaggio"  class="area-tastiera p-10">
                    </div>   
                    <div class="icon-tastiera p-10 d-flex flex-center">
                        <i class="fas fa-microphone icone-grigio-scuro"></i>
                    </div>
                </div>

            </section>     
        </div>
    


    <script src="js/script.js"></script>
</body>
</html>